## The third In-class-exercise (2/22/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
The features used for building an machine learning model are
Number of sentences, Number of words, Number of characters, Number of stopwords, Lower casing, Punctuation removal
This are the basic feautures which are used in building the model
these are only not enough but they play a major role in building like processing the data
I have taken some raw data for processing and explaining this function below





'''

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [1]:
# You code here (Please add comments in the code):
from six.moves import urllib
import pandas as pd

text_array = []
url = "https://raw.githubusercontent.com/Kalyang099/Kalyan_INFO5731_Spring2022/main/kalyan.txt"
text_file = urllib.request.urlopen(url)

for line in text_file:
  decoded_data = line.decode("utf-8").replace('\r\n', '')
  if decoded_data: text_array.append(decoded_data)
df = pd.DataFrame (text_array, columns = ['Raw Text'])
print(df)

                                              Raw Text
0                                         5 Ala. 740\n
1                          Supreme Court of Alabama.\n
2                                              ADAMS\n
3                                                 v.\n
4                                 TANNER AND HORTON.\n
..                                                 ...
153          There are no Filings for this citation.\n
154                               Negative Treatment\n
155  There are no Negative Treatment results for th...
156                                          History\n
157  There are no History results for this citation.\n

[158 rows x 1 columns]

In [2]:
#NUMBER OF SENTENCES

df['Number of Sentences'] = df['Raw Text'].apply(lambda x: len(str(x).split(".")))
df

                                              Raw Text  Number of Sentences
0                                         5 Ala. 740\n                    2
1                          Supreme Court of Alabama.\n                    2
2                                              ADAMS\n                    1
3                                                 v.\n                    2
4                                 TANNER AND HORTON.\n                    2
..                                                 ...                  ...
153          There are no Filings for this citation.\n                    2
154                               Negative Treatment\n                    1
155  There are no Negative Treatment results for th...                    2
156                                          History\n                    1
157  There are no History results for this citation.\n                    2

[158 rows x 2 columns]

In [3]:
#NUMBER OF WORDS

df['Number of Words'] = df['Raw Text'].apply(lambda x: len(str(x).split(" ")))
df

,Raw Text,Number of Sentences,Number of Words
0,5 Ala. 740\n,2,3
1,Supreme Court of Alabama.\n,2,4
2,ADAMS\n,1,1
3,v.\n,2,1
4,TANNER AND HORTON.\n,2,3
...,...,...,...
153,There are no Filings for this citation.\n,2,7
154,Negative Treatment\n,1,2
155,There are no Negative Treatment results for th...,2,9
156,History\n,1,1
157,There are no History results for this citation.\n,2,8

In [4]:
#NUMBER OF CHARACTERS

df['Number of Characters'] = df['Raw Text'].str.len()
df

,Raw Text,Number of Sentences,Number of Words,Number of Characters
0,5 Ala. 740\n,2,3,11
1,Supreme Court of Alabama.\n,2,4,26
2,ADAMS\n,1,1,6
3,v.\n,2,1,3
4,TANNER AND HORTON.\n,2,3,19
...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40
154,Negative Treatment\n,1,2,19
155,There are no Negative Treatment results for th...,2,9,59
156,History\n,1,1,8
157,There are no History results for this citation.\n,2,8,48

In [6]:
#STOPWORDS
from nltk.corpus import stopwords

import nltk
stop = stopwords.words('english')

df['Number of Stopwords'] = df['Raw Text'].apply(lambda x: len([x for x in x.split() if x in stop]))
df

,Raw Text,Number of Sentences,Number of Words,Number of Characters,Number of Stopwords
0,5 Ala. 740\n,2,3,11,0
1,Supreme Court of Alabama.\n,2,4,26,1
2,ADAMS\n,1,1,6,0
3,v.\n,2,1,3,0
4,TANNER AND HORTON.\n,2,3,19,0
...,...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40,4
154,Negative Treatment\n,1,2,19,0
155,There are no Negative Treatment results for th...,2,9,59,4
156,History\n,1,1,8,0
157,There are no History results for this citation.\n,2,8,48,4

In [7]:
#LOWERCASE

df['Lower Case'] = df['Raw Text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
df

,Raw Text,Number of Sentences,Number of Words,Number of Characters,Number of Stopwords,Lower Case
0,5 Ala. 740\n,2,3,11,0,5 ala. 740
1,Supreme Court of Alabama.\n,2,4,26,1,supreme court of alabama.
2,ADAMS\n,1,1,6,0,adams
3,v.\n,2,1,3,0,v.
4,TANNER AND HORTON.\n,2,3,19,0,tanner and horton.
...,...,...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40,4,there are no filings for this citation.
154,Negative Treatment\n,1,2,19,0,negative treatment
155,There are no Negative Treatment results for th...,2,9,59,4,there are no negative treatment results for th...
156,History\n,1,1,8,0,history
157,There are no History results for this citation.\n,2,8,48,4,there are no history results for this citation.

In [8]:
#REMOVAL OF PUNCTUATION
df['Removal of Punctuation'] = df['Lower Case'].str.replace('[^\w\s]','')
df

/var/folders/ry/r4y6x5qs6x53tg1nv7pxb9lh0000gn/T/ipykernel_8730/146569413.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Removal of Punctuation'] = df['Lower Case'].str.replace('[^\w\s]','')

,Raw Text,Number of Sentences,Number of Words,Number of Characters,Number of Stopwords,Lower Case,Removal of Punctuation
0,5 Ala. 740\n,2,3,11,0,5 ala. 740,5 ala 740
1,Supreme Court of Alabama.\n,2,4,26,1,supreme court of alabama.,supreme court of alabama
2,ADAMS\n,1,1,6,0,adams,adams
3,v.\n,2,1,3,0,v.,v
4,TANNER AND HORTON.\n,2,3,19,0,tanner and horton.,tanner and horton
...,...,...,...,...,...,...,...
153,There are no Filings for this citation.\n,2,7,40,4,there are no filings for this citation.,there are no filings for this citation
154,Negative Treatment\n,1,2,19,0,negative treatment,negative treatment
155,There are no Negative Treatment results for th...,2,9,59,4,there are no negative treatment results for th...,there are no negative treatment results for th...
156,History\n,1,1,8,0,history,history
157,There are no History results for this citation.\n,2,8,48,4,there are no history results for this citation.,there are no history results for this citation

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [1]:
# You code here (Please add comments in the code):